@use '../core/variables' as var;
@use '../core/mixins' as mix;

$img-count: 4;
$gap-size: 2.5rem;

.carousel-container {
  height: 25vh;
  position: relative;
}

.carousel-list {
  position: relative;
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  gap: $gap-size;

  li {
    @include mix.carousel-width();
    aspect-ratio: 16 / 9;
    transition: transform 0.2s ease-in-out;
  }

  p {
    position: absolute;
  }

  img {
    width: 100%;
    border-radius: 1.3rem;
    object-fit: cover;
  }
}

.corousel-btn-left,
.corousel-btn-right {
  position: absolute;
  top: 0;
  width: 1.8rem;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  transition: background-color 0.15s ease-in;
  cursor: pointer;
  z-index: 10;
  &:hover {
    background-color: rgba(0, 0, 0, 0.6);
  }
}

.corousel-btn-right {
  right: 0;
}
