@use '../core/variables' as var;
@use '../core/mixins' as mix;

$img-count: 4;
$gap-size: 2.5rem;

.carousel-container {
  height: 25vh;
  position: relative;
  margin: 2rem 0;
}

.carousel-title {
  margin-bottom: 0.8rem;
  font-size: 2rem;
}

.carousel-list {
  position: relative;
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  gap: $gap-size;

  li {
    @include mix.carousel-width();
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
  }

  img {
    width: 100%;
    min-height: 100%;
    border-radius: 1.3rem;
    object-fit: cover;
  }
}

.carousel-overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.31);
  border-radius: 1.3rem;
  z-index: 3;

  &:hover {
    background-color: rgba(0, 0, 0, 0.6);
  }

  .carousel-info {
    position: absolute;
    bottom: 0;
    padding: 0.5rem;
    p {
      text-transform: uppercase;
      color: var.$light-gray;
      font-size: 0.75rem;
    }

    svg {
      height: 0.75rem;
      padding-left: 0.2rem;
      padding-right: 0.1rem;
    }

    p.carousel-movie-title {
      color: var.$white;
      font-size: 1.1rem;
      letter-spacing: 0.2rem;
      margin-top: 0.5rem;
    }
  }
}

.corousel-btn-left,
.corousel-btn-right {
  position: absolute;
  top: 0;
  width: 1.8rem;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  transition: background-color 0.15s ease-in;
  cursor: pointer;
  z-index: 10;
  &:hover {
    background-color: rgba(0, 0, 0, 0.6);
  }
}

.corousel-btn-right {
  right: 0;
}
