@use '../core/variables' as var;
@use '../core/mixins' as mix;

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.auth-title {
  margin-bottom: 3rem;
  font-weight: bold;
}

.auth-form {
  button {
    text-align: center;
    background-color: var.$primary-color;
    width: 100%;
    height: 2.4rem;
    border-radius: 0.4rem;
    cursor: pointer;
    transition: background-color 0.12s ease-in;

    &:hover {
      background-color: #fd8c45;
    }
  }
}

.input-wrapper {
  @include mix.flex-column;
  width: 16vw;
  margin: 1.4rem 0;

  label {
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
    color: var.$light-gray;
  }

  input {
    border: 1px solid var.$light-gray;
    border-radius: 0.4rem;
    height: 2.4rem;
    padding: 0 0.8rem;
  }
}

.auth-account-subtxt {
  font-size: 0.9rem;
  margin-top: 1.2rem;
  a {
    color: #0098cd;
  }
}
