@use './header';
@use '../core/variables' as var;
@use '../core/mixins' as mix;

body {
  font-family: var.$font-family;
  height: 100vh;
}

#app {
  height: 100%;
  @include mix.flex-column;
}

section {
  background-color: var.$bg-color;
  flex: 1;
  color: var.$white;
  padding: 2rem 4.6rem;
}
